<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plates API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body ng-app="plates-api-app" ng-controller="mainController" ng-cloak>

    <div class="container">
      <p></p>
      <div class="">
        <img src="./img/logo_large.jpg" alt="www.APNAPLATES.com" style="width: 20%">
      </div>
      <!-- <label>Search: <input ng-model="searchText"></label> -->

      <md-input-container>
        <label>Search:</label>
        <input type="text"
               class="search-input"
               ng-model="searchText"
               name="Search"
               placeholder="Enter your name, initials anything...">
      </md-input-container>

      <div>Total Plates: {{total}}</div>
      <div>Filtered Plates: {{query.length}}</div>

      <hr>
      <div>
        <md-button type="md-button"
                 class="md-raised md-primary"
                 ng-click="searchText = ''">
                 ALL
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText = 'SINGH'">
                 SINGH
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText = 'KRISHNA'">
                 KRISHNA
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText = 'MOH'">
                 MOHAMMED
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText = 'JAG'">
                 JAG
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText = 'KHAN'">
                 KHAN
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText = 'FAI'">
                 FAISAL
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText.sold = 'Yes'">
                 SHOW SOLD PLATES
        </md-button>
        <md-button type="md-button"
                 class="md-raised md-warn"
                 ng-click="searchText.status = 'Disable'">
                 SHOW DISABLED PLATES
        </md-button>
      </div>

      <hr>

      <div>Total Views: {{totalViews | number}}</div>
      <div>Average view for each plate: {{viewsPerPlate | number: 0}}</div>
      <div>Total sellers contacted: {{totalSellerContacted | number: 0}}</div>
      <div>Marked as SOLD: {{soldPlatesTotal | number}}</div>

      <hr>

      <div>

      </div>

      <hr>

      <div ng-hide="loaded">Loading the plates...</div>

      <div id="searchTextResults" ng-show="loaded">

        <div class="plate-container">

            <md-content class="md-padding" layout-sm="column" layout="row">
              <div class="plate-container">
                <md-card class="" ng-repeat="plate in plates | orderBy:'+':true | filter:searchText as query">
                      <!-- <img ng-src="http://www.apnaplates.com/plates/smallimg/{{plate.small_image}}"> -->
                      <div class="numberplate2">{{plate.plate_id | uppercase}}</div>
                </md-card>
              </div>
            </md-content>
          </div>
      </div>
    </div>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  </body>
</html>
